/* Universal Selector */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Name Selector */
footer {
  width: 100%;
  height: 350px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* Class Selector */
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* ID Selector */
#first-paragraph {
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
  margin-right: 20px;
}

.first,
.fourth {
  flex: 30%;
}

.second,
.third {
  flex: 20%;
}

.footer-icons {
  width: 100%;
  display: flex;
}

.footer-icons > i {
  color: purple;
  font-size: 25px;
  margin-right: 15px;
}

.footer-icons > i:hover {
  color: orange;
  font-size: 35px;
}

h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-bottom: 5px;
  color: grey;
  line-height: 30px;
}
a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  background-color: whitesmoke;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-container > input {
  border: none;
  background-color: whitesmoke;
  outline: none;
}

.search-paragraph {
  width: 350px;
  color: grey;
  font-size: 18px;
}
